<h1>Admin Profile  <%=user.firstname  %> </h1> 

<div class="row">
    <div class="col s12 m4">
        <img src="<%=user.pic%>" alt="profile pic">
    </div>
    <div class="col s4">
        <p><strong>Name: </strong> <%=user.firstname%> <%=user.lastname%>  </p>
        <p><strong>Birthday: </strong> <%=moment(user.birthday).format('dddd MMMM Do[,] YYYY')%> </p>
        <p><strong>Account Created On: </strong> <%= moment(user.createdAt).format('dddd MMMM Do[,] YYYY')%> </p>
        <p><strong>Bio: </strong> <%=user.bio %> </p>
    </div>
    <div class="col s12 m4">
        <p><strong>View User's Pages</strong></p>
        <% users.forEach(u=>{ %>
            <div> 
                <a href="/profile/guest/<%=u.id%>">
                    <%=u.firstname  %> 
                    <% if(user.id == u.id){ %>
                      (Hey it's you!)
                    <%}  %>  
                </a>    
            </div>
        <% }) %> 
    </div>
</div>